@import "tailwindcss";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  background: linear-gradient(to bottom right, #0f4f42, #00722c);
}

.walt {
  background-image: url("./images/heisenberg.png");
}